<section class="orders-show">
  
 
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= @order.email %>!</h4>
  </div>

  <% @order.line_items.each do |item| %>
      <%= render 'product', product: item.product, quantity: item[:quantity].to_i, total_price: item.total_price  %>
  <% end %>
  <h4 class="order-summary jumbotron">
    Total Price:
    $<%= @order.total_cents / 100 %>
  </h4>

</section>
